.form{
    border: 2px solid black;
    width: 400px;
    padding: 30px;
    
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.p{
    font-size: large;
    font-weight: bold;
}
.button{
    width: 100px;
    border-radius: 5px;
    border: 0.5px solid black;
}